emi.json
!kubejs/assets/emi/category/properties/emi.json
/mods
/saves
/modernfix
/xaero
/local
/logs
/.mixin.out
/cache
/screenshots
/kubejs/probe
usercache.json
options.txt
patchouli_data.json
/build
/backups
/.vscode
/ESM
/crash-reports
/XaeroWaypoints_BACKUP240807
/keybinding presets
enigmatic_persistence.dat
icon.png
rhino.local.properties
config/xaerominimap_entities.json
usernamecache.json
config/oculus.properties
servers.dat
servers.dat_old
fancymenu_data/last_world.fmdata
.qmenu_opened.marker
/resourcepacks/.index
/fancymenu_data/buddy
/kubejsstudio
config/kubejsstudio/pending.json
