emi.json
/mods
/saves
/modernfix
/xaero
/local
/logs
/.mixin.out
/cache
/screenshots
/kubejs/probe
usercache.json
options.txt
patchouli_data.json
/build
/backups
/.vscode
/ESM
/crash-reports
/XaeroWaypoints_BACKUP240807
/keybinding presets
enigmatic_persistence.dat
icon.png
rhino.local.properties
config/xaerominimap_entities.json
usernamecache.json
config/oculus.properties
